body {
  background:#000;
  color:white;
  font-family:Arial;
}

header {
  background:#e50914;
  padding:15px;
  text-align:center;
}

.movies {
  display:flex;
  gap:20px;
  padding:20px;
}

.movie {
  width:200px;
}

.movie img {
  width:100%;
  border-radius:10px;
}

.movie a {
  background:#e50914;
  color:white;
  padding:8px;
  display:block;
  text-align:center;
  text-decoration:none;
  margin-top:5px;
}
